.router_error
  text-align center
  display flex
  justify-content center
  align-items center
  height: 100%
  font-size: 22px
  flex-direction column
  .notfound_title
    font-size: 40px
    color #838fa1
    padding-bottom 30px

  .notfound_desc
    font-size: 22px
    color #dce2ec
    padding-bottom 30px

  .notfound_text,.notfound_countdown
    color: #96a2b4
    font-size: 16px
